<nav class="navbar color-brand">
    <div class="separated">
        <p class="brand">Inscribo</p>
        <p class="small-navbar-detail">ICJ Gestión Pública y Empresarial</p>
    </div>
    <div class="">
        <mat-icon class="small-icon white">sms_failed</mat-icon>
        <span class="send-message">Enviar feedback</span>
        <mat-icon mat-icon-button [matMenuTriggerFor]="menuUser" class="small-icon white">account_circle</mat-icon>
        <mat-menu #menuUser="matMenu">
            <button (click)="mySales()" mat-menu-item>
                <span>Mis ventas</span>
            </button>
        </mat-menu>
        <span class="send-message">Iván</span>
    </div>
</nav>
<div class="row row-margin">
    <div class="col-sm-3 slide-1">
        <h4 class="slide-title">Alumno</h4>
        <div class="form-group slide-group">
            <label class="label">Tipo de documento</label>
            <div class="input-group">
                <input [(ngModel)]="documentType" type="text" class="form-control" name="documentType" placeholder="">
            </div>
        </div>
        <div class="form-group slide-group">
            <label class="label">Número de documento</label>
            <div class="input-group">
                <input [(ngModel)]="documentNumber" type="text" class="form-control" name="documentNumber" placeholder="">
            </div>
        </div>
        <div class="form-group slide-group">
            <button (click)="continueRegistration()" class="btn btn-primary button-green submit-btn btn-block">Continuar</button>
        </div>
    </div>
    <div class="col-sm-6 slide-2">
        <h4 class="slide-title">Cursos</h4>
        <div class="form-group slide-group">
            <label class="label">Buscar</label>
            <div class="row">
                <div class="input-group col-sm-9">
                    <input [(ngModel)]="findCourseName" type="text" class="form-control" name="findCourseName" placeholder="">
                </div>
                <div class="col-sm-3">
                    <button (click)="findByCourseName()" class="btn btn-primary button-green submit-btn btn-block"><mat-icon>search</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="form-group slide-group">
            <label class="label">Resultados</label>
            <div class="course-entry row" *ngFor="let course of courses">
                <div class="col-sm-2">
                    {{course.code}}
                </div>
                <div class="col-sm-5">
                    {{course.name}}
                </div>
                <div class="col-sm-4">
                    {{course.startDate}} - {{course.endDate}}
                </div>
                <div class="col-sm-1">
                    <button class="mat-button-class" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="small-icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="goToDetail(course.id)" mat-menu-item>
                            <span>Ver detalle</span>
                        </button>
                        <button (click)="pushToList(course.id)" mat-menu-item>
                            <span>Agregar</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 slide-3">
        <h4 class="slide-title">Resumen</h4>
        <div class="form-group slide-group">
            <div class="row summary-margin">
                <label class="label col-sm-3">Total</label>
                <div class="col-sm-3"></div>
                <div class="col-sm-6 align-right">
                    <p class="label-total">S/. {{summaryPrice}}</p>
                </div>
            </div>
            <div class="row summary-margin">
                <label class="label col-sm-3">Cursos</label>
                <div class="col-sm-3"></div>
                <div class="col-sm-6 align-right">
                    <p class="label">{{myCourses.length}}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="my-course-entries" *ngFor="let myCourse of myCourses">
                <div class="row">
                    <div class="col-sm-10">
                        {{myCourse.name}}
                    </div>
                    <div class="col-sm-2 align-right">
                        <a class="delete-entry" (click)="removeMyCourse(myCourse.id)">X</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{myCourse.startDate}} - {{myCourse.endDate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr class="separator">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        Precio
                    </div>
                    <div class="col-sm-4 align-right">
                        S/. {{myCourse.price}}
                    </div>
                </div>
            </div>
            <div class="form-group slide-group separated-top">
                <button (click)="enrollCourse()" class="btn btn-primary button-green submit-btn btn-block">Matricular</button>
            </div>
        </div>
    </div>
</div>